{% extends "base.html" %}
{% block content %}
<h1 class="mt-4">Report an Issue / Request a Service</h1>
<form action="/report_service" method="post" class="mt-3">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.location.label(class="form-control-label") }}
        {{ form.location(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.type.label(class="form-control-label") }}
        {{ form.type(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
